@{
    ViewData["Title"] = "Upload Voice";
}

<h2>Upload voice request</h2>

<form method="post" enctype="multipart/form-data">
    <label>Caller phone:</label>
    <input type="text" name="caller" class="form-control" />

    <label>Text:</label>
    <input type="text" name="text" class="form-control" />

    <label>Audio file (wav/mp3):</label>
    <input type="file" name="audio" class="form-control" />


    <button class="btn btn-primary mt-3" type="submit">Upload</button>
</form>