<nav id="sidebar" class="navbar-light bg-white topbar mb-4 static-top shadow border-end border-dark border-2 active">
    <div class="sidebar-header bg-white">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index">
            <h3>SumyCRM</h3>
            <strong>CRM</strong>
        </a>
    </div>

    <ul class="list-unstyled components p-2">
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-chart-pie"></i>
                Головна сторінка
            </a>
        </li>
        <li>
            <a href="#productsSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa-solid fa-address-book"></i>
                Довідник
            </a>
            <ul class="collapse list-unstyled" id="productsSubmenu">
                <li>
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Index">Всі категорії</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Schedule" asp-action="Index">Графіки руху</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Facilities" asp-action="Index">Список установ</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#ordersSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="order-count">0</span>
                Звернення
            </a>
            <ul class="collapse list-unstyled" id="ordersSubmenu">
                <li>
                    <a href="@Url.Action("Index", "Requests", new {area="Admin", page = 1, completed = false })">Активні</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Requests", new {area="Admin", page = 1, completed = true })">Виконані</a>
                </li>
            </ul>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Calls" asp-action="Index">
                <i class="fa-solid fa-phone"></i>
                Дзвінки
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Transport" asp-action="Index">
                <i class="fa-regular fa-map"></i>
                Мапа транспорту
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-right-to-bracket"></i>
                На вхід
            </a>
        </li>
    </ul>
</nav>
