<nav id="sidebar" class="navbar-light bg-white topbar mb-4 static-top shadow border-end border-dark border-2">
    <div class="sidebar-header bg-white">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index">
            <h3>SumyCRM</h3>
            <strong>CRM</strong>
        </a>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#productsSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa-solid fa-store"></i>
                Категорії
            </a>
            <ul class="collapse list-unstyled" id="productsSubmenu">
                <li>
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Index">Всі категорії</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Transport" asp-action="Index">Список транспорту</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#ordersSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span class="order-count">0</span>
                Звернення
                
            </a>
            <ul class="collapse list-unstyled" id="ordersSubmenu">
                <li>
                    <a href="@Url.Action("Index", "Requests", new {area="Admin", page = 1, completed = false })">Активні</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Requests", new {area="Admin", page = 1, completed = true })">Виконані</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pagesSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa-solid fa-gear"></i>
                Налаштування
            </a>
            <ul class="collapse list-unstyled" id="pagesSubmenu">
                <li>
                    <a asp-area="Admin" asp-controller="Pages" asp-action="Index">Сторінки</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="EditPoster">Постер</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="SocialLinks" asp-action="Index">Посилання на соцмережі</a>
                </li>
            </ul>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fas fa-home"></i>
                На вхід
            </a>
        </li>
    </ul>
</nav>
